.container {
    width: 90%;
    margin: 0 auto;
    position: relative;

    &:hover .trash{
        display: inline;
    }
}

.shelf-name {
    display: block;
    margin: 1rem auto;

    border: 0;
    text-align: center;
    font-size: 2rem;
    min-width: 30rem;

    &:focus {
        outline: none;
        border-bottom: 1px solid gray;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.album-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 216px;

    &:hover {
        border: 2px dotted gray;
        cursor: pointer;
    }
}

.trash {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
    }
}