.container {
    width: 90%;
    margin: 0 auto 10px;
    position: relative;
    background-color: #202124;
    border: 2px solid #5F6368;
    border-radius: 25px;

    &:hover .trash{
        display: inline;
    }

    &:hover {
        border-color: #5F6368;
        cursor: pointer;
    }
}

.shelf-name {
    display: block;
    margin: 1rem auto;
    background-color: #202124;
    font-family: 'Open Sans', sans-serif;

    border: 0;
    text-align: center;
    font-size: 2rem;
    min-width: 30rem;

    &:focus {
        outline: none;
        border-bottom: 1px solid #6B728E;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.album-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-height: 216px;
}

.trash {
    position: absolute;
    top: 25px;
    left: 25px;
    display: none;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
    }
}